<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<security:http auto-config="true">
		<!--  stranice dostupne jedino uz login -->
		<security:intercept-url pattern="/NewQuestion*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Categories*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/questionAdded*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/AddQuiz/formsubmit"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Quizes/jax"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Quizes/jax/activatequiz"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Categories/jax/getCategory"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Categories/jax"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Quizes/jax/changeactivequiz"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/categoryAdded"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/questionAdded"
			access="ROLE_ADMIN" />	
		<security:intercept-url pattern="/userAdded"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/checkForUser*"
			access="ROLE_ADMIN" />			
		<security:intercept-url pattern="/ManageQuiz/*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Quizes/jax/changeactivequiz*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Questions/jax/deletequestion*"
			access="ROLE_ADMIN" />	
		<security:intercept-url pattern="/NewQuestion?idCategory*"
			access="ROLE_ADMIN" /> 
		<security:intercept-url pattern="/AddQuiz/*"  
			access="ROLE_ADMIN" />	
		<security:intercept-url pattern="/ManageQuiz/jax/changeactivequestion*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Categories/overview*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/Questions/overview*"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/ReactivateQuiz*"
			access="ROLE_ADMIN" />
			
		<!-- definiranje login uri-a -->
		<security:form-login login-page="/login"
			always-use-default-target="true"
			default-target-url="/Categories" authentication-failure-url="/loginfailed" />
		<security:logout logout-success-url="/logout" />
	</security:http>

	<import resource="classpath:persistence-bean.xml" />
	<context:component-scan base-package="hr.fer.ztel.dao"></context:component-scan>
	<context:component-scan base-package="hr.fer.ztel.service"></context:component-scan>

	<!-- "izvor" za provjeru login podataka -->
	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="customUserDetailsService">
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
