#mainDiv{
	padding:5%;
}
.middleButton{
	min-width: 150px;
	max-width: 1000px;
}

#bouterContainer
{
	text-align: center;
}

  /* our part of css*/
  #BButtons
  {
  	min-width: 185px;
  	max-width: 1000px;
  }
  
  #CContent
  {
  	margin: auto;
  }
  
  #fouterContainer
  {
  	text-align: center;
  }
  
  #souterContainer
  {
  	padding: 3%;
  }
  
  #mogucnostBtn
  {
  	min-width: 170px;
  	max-width: 1000px;
  }
  
  #logout
  {
  	margin-top:22px;
  }